body {
	width: $moneta-default-width;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.item-name {
	font-size: 1.3rem;
	text-align: center;
	display: block;
}
.links {
	cursor: pointer;
}
.links:hover {
	text-decoration: underline;
}
button:focus { outline: none; }
.clear {
	clear: both;
}